.AG_fancy .ag_thumbfancy {
  float:left;
  background-position:bottom right;
  background-repeat:no-repeat;
  margin:0;
  padding:0;
}

.AG_fancy .ag_imageThumb {
  display:block;
  position:relative;
  background:#FFF;
  margin:0;
  padding:4px;
}


.AG_fancy h1
{
     text-align:left;
     margin:10px 0 10px 0;
     font-size:12px;
     font-weight:bold;
}
